
/*El contenedor tiene ambos cards*/
.contenedor-productos {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 8vh;  
}

.producto-pagar {
    display: grid;
    margin-bottom: 1%;
    margin-top: 2%;
    grid-template-columns: 1fr;  
    width: 100%;  
    max-width: 450px; 
    margin-right: 4%;
}

.producto-pagar .card {
    padding: 3vh;
    border: 1px solid #ddd;
    border-radius: 5px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    background-color: white;
    width: 100%; 
    margin: 0 auto;
}

.parrafo p{
    display: flex;            
    justify-content: space-between; 
    align-items: center;      
    margin-bottom: 10px;     
    font-size: 16px;    
      
}


.card h4{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    font-weight: bold;
    color: #000;
    text-decoration: underline;
    font-size: 18px;
    margin-bottom: 20px; 
}

.precio {
    display: inline-block;
    font-weight: bold;
    text-align: right; 
 
  }

.btn-pagar-carrito{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #355CC0;
    color: #fff;
    height: 45px;
    padding: 2%;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-pagar-carrito:hover {
    background-color: #002B38; /* Color al pasar el mouse */
}

.producto-carrito {
    width: 70%;  
    margin: 0;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.producto-carrito img{
    width: 120px;  
    height: 120px;
    object-fit: cover;  
}

/* Estilos del table*/

.table td{
    text-align: center;
    vertical-align: middle;
}


.table tr{
 text-align: center;
}

.table th{
    background-color: #E2E2E2;
}

.btn-table{
    margin-top: 5%;
    width: 100%;
    height: 40px;
    background-color: #355CC0;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn-table:hover {
    background-color: #002B38; /* Color al pasar el mouse */
}
.container-button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn-irPagar{
    width: 30%;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #355CC0;
    color: #fff;
    cursor: pointer;
    line-height: 1.2;
}

/*Estilos para los botones abajo del banner*/

.banner-botones{
    margin-top: 3vh;
    background: #E2E2E2;
    width: 100%;
    height: 15vh;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.button{
    width: 270px;
    height: 70px;
    outline: none;
    border: none;
    background-color: #002B38;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 2rem;
    font-weight: 700;
    transition: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    position: relative;
}

button span.icon-btn{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    left: 40px;
    top: 18px;
    transition: .5s ease-in-out;
}
button span.text{
    position: absolute;
    right: 40px;
    top: 22px;
    transform-origin: top right;
    transition: .3s .2s ease-in-out;
}

.top-btn{
    width: 30px;
    height: 5px;
    background-color: #355CC0;
    border-radius: 5px;
    position: relative;
    transform-origin: bottom left;
    transition: .5s ease-in-out;
}

.top-btn::after{
    content: "";
    display: block;
    position: absolute;
    background-color: #355CC0;
    width: 15px;
    height: 2px;
    border: 2px solid #355CC0;
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-btn{
    margin-top: 3px;
    width: 30px;
    border-top: 30px solid #355CC0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 2px 2px 10px 10px;
    position: relative;
    transform-origin: top left;
    transition: .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

button:hover .top-btn{
    transform: rotateZ(-25deg);
}

button:hover .text{
    
    transform: rotateZ(-15deg) scale(0.5) translate(-120px , -50px);
}

button:hover .icon-btn{
    transform: translate(70px, 30px) scale(2.5);
}


button:focus .top-btn{
    transform: rotateZ(0deg);
}

button:focus .icon-btn{
    transform: translate(70px, 0px) scale(1);
}

button:focus .text{
    transform: rotateZ(-2deg) scale(0.3) translate(-270px, 10px);
    opacity: 0;
}

button:not(:hover):not(:focus) .text {
    opacity: 1;
    transform: translate(0, 0) scale(1); /* Regresar al tamaño y posición originales */
}


/* Estilos para el formulario de pago*/


.container-pago{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #ffff;
    background: #EFEFEF;
    margin-top: 5%;
    margin-bottom: 10%;
    padding:10px;
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#formulario-pago.show {
    visibility: visible;
    opacity: 1;
    align-items: center;
}

.wrapper {
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    width: 600px;
    padding: 3em;
    border-radius: 1em;
    perspective: 800px;
    display: flex;
    flex-direction: column; 
    align-items: center; /* Centra el contenido dentro de la tarjeta */
    justify-content: center;
  }
  .credit-card {
    position: relative;
    width: 350px;
    height: 220px;
    margin: auto;
    transform-style: preserve-3d;
    transition: 0.3s;
  }
  .card-front,
  .card-back {
    position: absolute;
    width: inherit;
    height: inherit;
    background: linear-gradient(#33a4f8, #206df9);
    border-radius: 1em;
    backface-visibility: hidden;
  }
  .card-front {
    padding: 2em 1em;
  }
  .branding {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .branding img {
    width: 50px;
    height: auto;
  }
  .card-back {
    position: absolute;
    transform: rotateY(180deg);
  }
  .card-number {
    color: #ffffff;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    margin-top: 3em;
  }
  .details {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    font-size: 0.8em;
  }
  .details span {
    display: block;
  }
  .details #card-holder-name {
    text-transform: uppercase;
  }
  .card-back .black-strip {
    position: relative;
    background-color: #000000;
    height: 50px;
    top: 2em;
  }
  .card-back .white-strip {
    top: 3em;
    position: relative;
    text-align: right;
  }
  .card-back .white-strip span {
    margin-right: 1em;
  }
  .card-back .white-strip div {
    height: 30px;
    background-color: #ffffff;
    margin-top: 0.5em;
  }
  .card-back .visa-logo {
    position: absolute;
    width: 50px;
    margin-top: 4em;
    right: 1em;
  }
  form {
    margin-top: 2em;
  }
  label,
  input {
    display: block;
  }
  label {
    margin-bottom: 0.5em;
    font-weight: 600;
  }
  label {
    margin-bottom: 0.5em;
    font-weight: 600;
  }
  input {
    width: 100%;
    border: 1px solid #000000;
    padding: 1em 0.5em;
    border-radius: 0.5em;
  }
  input:not(:last-child) {
    margin-bottom: 1em;
  }
  form .date-cvv {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }

  .btn-form{
    margin-top: 2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #355CC0;
    color: #fff;
    height: 45px;
    padding: 2%;
    border: none;
    transition: background-color 0.3s ease;
  }
  .btn-form:hover{
    background-color: #002B38;
  }

@media screen and (max-width: 768px) {
    .producto-carrito {
        width: 100%;  
        overflow-x: auto;  
        -webkit-overflow-scrolling: touch;  
    }

    /* Tabla deslizable */
    .table {
        width: 100%;
        min-width: 600px;  
    }

}


@media screen and (max-width: 480px) {

    .producto-pagar {
        width: 90%; 
    }

    .producto-carrito {
        width: 100%; 
    }

    .producto-carrito img {
        width: 60px; 
        height: 60px;
    }

    .parrafo p {
        font-size: 14px; 
    }

    .card h4 {
        font-size: 16px; 
    }

    .btn-pagar-carrito {
        height: 45px; 
    }

    .btn-table {
        height: 35px; 
    }
}

@media (max-width: 767px) {
    .container-pago form {
        width: 100%; 
        padding: 20px; 
    }

    .row {
        flex-direction: column; 
        gap: 10px; 
    }

    .column {
        padding: 0; 
    }

    .column .title {
        font-size: 18px; 
        text-align: center; 
    }

    .input-box input {
        font-size: 14px; 
    }

    .btn-pagar {
        font-size: 16px; 
    }
}



