/*-------------------- Generales -------------------- */
.banner {
    background-color: #E7AD3B;
    height: 300px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    padding-top: 50px;
    padding-left: 0px;
}

h1 {
    font-size: 100px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

/*-------------------- Select -------------------- */
label {
    margin-right: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.filter {
    position: absolute;
    right: auto;
    top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.dropdown {
    margin-top: 20px;
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;

    animation: dropdownAnimation 0.3s ease-out;
    transform-origin: top;
}

@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

.dropdown:focus {
    outline: none;
    border: 1px solid #E7AD3B;
    box-shadow: 0 0 8px rgba(231, 173, 59, 0.5);
}

.filter option {
    padding: 10px;
    font-size: 20px;
    color: #333;
    background-color: #fff;
}

/*-------------------- Products -------------------- */
.products{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.product-item {
    width: 300px;
    height: 500px;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 1s ease, transform 1s ease;
}

.product-item:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}

.product-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.product-info {
    padding: 10px;
    text-align: center;
}

.product-title {
    color: #333;
    margin-bottom: 20px;
}

.product-price {
    color: #333;
    margin-bottom: 20px;
}

.product-button {
    padding: 8px 16px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    transition: 0.4s ease-in-out;
    margin-bottom: 10px;
}

.agregar {
    background-color: #E7AD3B;
}

.product-button.agregar:hover {
    background-color: #C88E2A;
}

.ver {
    background-color: #2F56A1;
}

.product-button.ver:hover {
    background-color: #2F4882;
}

@media (max-width: 1300px) {
    h1 {
        font-size: 80px;
    }
}

/*-------------------- Animaciones -------------------- */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

/*-------------------- Animaciones -------------------- */