/* ------------------- Colores ------------------- */
:root {
    --background-color: white;
    --text-title-color: #053D4E;
    --text-color: #32363B;
    --icon-color: #32363B;
    --icon-menu-color: #707780;
    --menu-color: #707780;

    --text-selected-color: #355CC0;
    --background-selected: #EBF0FF;
    --background-hover: #F7F9FA;

    --border-color: #E6E9ED;
}

/* ------------------- Estilos globales ------------------- */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
}

h2{
    font-size: 80px;
}

p {
    font-size: 20px;
    color: #424242;
    margin-bottom: 35px;
}

.btn-1 {
    padding: 13px 30px;
    background-color: #2F56A1;
    color: #FFFFFF;
    border-radius: 25px;
    font-size: 18px;
}

.btn-1:hover {
    background-color: #2F4882;
}

/* ------------------- Header ------------------- */
header {
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.45rem 2rem 1.45rem 1.27rem;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    background-color: var(--background-color);
    top: 0;
    left: 0;
}

/* ------------------- Left section ------------------- */
.left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}

/* ------------------- Menu ------------------- */
.menu-container {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu {
    width: 1.5rem;
    height: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu div {
    width: 100%;
    height: 0.15rem;
    background-color: var(--menu-color);
    transition: all 0.2s ease;
}

.menu.menu-toggle div:first-child {
    width: 40%;
    transform: rotate(-35deg) translate(-30%, 175%);
}

.menu.menu-toggle div:last-child {
    width: 40%;
    transform: rotate(35deg) translate(-30%, -160%);
}

/* ------------------- Brand ------------------- */
.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.brand .name {
    font-size: 1.5rem;
    font-weight: 750;
    color: var(--text-title-color);
}

/* ------------------- Right section ------------------- */
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.right img {
    width: 1.5rem;
    margin: 0.5rem;
}

.right .icon {
    width: 2.1rem;
    border-radius: 50%;
}

.right .icon:hover {
    cursor: pointer;
}

/* ------------------- Sidebar ------------------- */
.sidebar {
    margin-top: 6rem;
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1.1rem 0;
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
    background-color: var(--background-color);
    transition: width 0.5s ease;
}

.sidebar ul {
    padding: 0;
}

.sidebar.menu-toggle {
    width: 18.75rem;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 0.9rem 0.7rem;
    text-decoration: none;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-color);
}

.sidebar a:hover {
    background-color: var(--background-hover);
}

.sidebar a.selected {
    color: var(--text-selected-color);
    background-color: var(--background-selected);
}

.sidebar img {
    width: 1.6rem;
}

/* ------------------- Estilos partner -------------------*/
.flotante {
    position: fixed;
    bottom: 1px;
    right: 1px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
  }
  
.flotantesContainer {
    width: 45px;
    height: 45px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
}

.toggle-button {
    width: 45px;
    height: 45px;
    background-color: #4EAECE;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.toggle-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.8);
}

.social-icons {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.socialContainer {
    transition: transform 0.3s;
}

.socialContainer:hover {
    transform: scale(1.5);
    border-radius: 15px;
}

.add-icon {
    width: 20px;
    fill: white;
}

.show {
    display: flex;
}

.email {
    background-color: #0072b1;
}

.email:hover {
    transform: scale(1.5);
    border-radius: 15px;
}

.facebook {
    background-color: #00acee;
}

.facebook:hover {
    transition-duration: 0.3s;
    transform: scale(1.5);
    border-radius: 15px;
}

.instagram {
    background-color: #d62976;
}

.instagram:hover {
    transition-duration: 0.3s;
    transform: scale(1.5);
    border-radius: 15px;
}

.telefono {
    background-color: #4CAF50;
}

.telefono:hover {
    transition-duration: 0.3s;
    transform: scale(1.5);
    border-radius: 15px;
}

.whatsapp {
    background-color: #25d366;
}

.whatsapp:hover {
    transition-duration: 0.3s;
    transform: scale(1.5);
    border-radius: 15px;
}

.socialSvg {
    width: 20px;
}
  
.socialSvg path {
    fill: rgb(255, 255, 255);
}

/* ------------------- Sección de pago ------------------- */

/* Inicializa los elementos con opacidad 0 y desplazados para el efecto de deslizamiento */
.contenedor-productos,
.producto-carrito,
.producto-pagar,
.card,
.btn-pagar-carrito,
h3, p {
    opacity: 0;
    transform: translateY(20px); /* Inicia ligeramente desplazado hacia abajo */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transiciones suaves */
}

/* Clase para hacer que los elementos se vuelvan visibles */
.visible {
    opacity: 1;
    transform: translateY(0); /* Devuelve a su posición original */
}


/* ------------------- Footer ------------------- */
.footer{
    
    width: 100%;
    background-color: #EFEFEF;
}

.footer-item{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
}

.box{
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.contact-item {
    display: flex; /* Alinea la imagen y el texto en fila */
    align-items: center; /* Centra verticalmente */
    justify-content: flex-start; /* Alinea a la izquierda */
    margin-bottom: 10px; /* Espacio entre los elementos */
}

.contact-item img {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.socials a{
    display: inline-block;
    width: 45px;
    height: 45px;
}

.rights{
    text-align: center;
    padding-bottom: 5px;
}

.medios-contacto {
    font-size: 22px;
    color: #424242;
}

/* ------------------- Responsive ------------------- */
@media (max-width: 850px) {
    .footer-item{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0;
    }
}